body{
	margin: 0;
	font-family: 'Audiowide', sans-serif;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(240, 56, 50, 0.5), rgba(252, 186, 5, 0.4), rgba(237, 221, 83, 0.5)),
	url("media/sparkyBackground.png");
	background-position: center;
	background-size: cover;
	position: relative;
}
.lightning{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.nav{
	display: flex;
	padding: 1% 4%;
	justify-content: space-between;
	align-items: center;
}
.sections{
	flex: 1;
	text-align: right;
}
.sections ul li{
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.sections ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}
.sections ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background-image: linear-gradient(rgb(240, 56, 50), rgb(252, 186, 5), rgb(237, 221, 83));
	display: block;
	margin: auto;
	transition: 0.5s;
}
.sections ul li:hover::after{
	width: 100%;
}
.card-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 200px;
}
.card{
	width: 325px;
	background-image: linear-gradient(rgb(240, 56, 50), rgb(252, 186, 5), rgb(237, 221, 83));
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	margin: 20px;
}
.text-box{
	width: 90%;
	color: white;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 60px;
	font-family: "Audiowide", sans-serif;
}
.aboutMe2{
	width: 90%;
	color: white;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 60px;
}
.aboutMe{
	width: 90%;
	color: white;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 20px;
}
.gamesIPlay2{
	width: 90%;
	color: white;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 60px;
}
.gamesIPlay{
	width: 90%;
	color: white;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 20px;
}
